{% load staticfiles %}
<style type="text/css">
	.messageform{
  position: relative;
  width: 95%;
  text-align: left;
  line-height: 20px;
  background-color: rgba(184, 110, 238, 0);
    border: 1px solid rgba(37, 33, 33, 0.31);
  border-radius: 10px;
  margin-left: 0px;
  margin-top:15px;
  margin-bottom: 5px;
  padding:9px 20px;
  box-shadow: 2px 2px 4px #888;
  }
  [contenteditable]:focus { outline: 0px solid transparent; }
</style>
<div id="hallgroup" class="card col s6 hallex" style="margin: 20px;margin-right: 10px;">
<div style="text-align: right;">
	<i class="material-icons small center-align menu_links hallexit" style="width:40px;height: 40px;margin-left: 10px;margin-top: 20px;margin-bottom: 39px;margin-right: -2px;" >close</i>
	</div>
<div id="hallheader"style="display:flex;flex-direction: row;margin-top: 10px;justify-content: center;padding-top:40px">
  <div  id="hallheaderhtml"style="margin-top:10px;font-size:25px;">
    <strong><b>Create A Group<br></b></strong></span>
  </div>
</div>
<div style="display:flex;flex-direction: row;margin-top: -6px;
    margin-bottom: 9px;padding-top:30px;margin-left: 15px;justify-content: center;">
	<div   class="messageform menu_links"style="margin-top:5px;width:75%;">
		<p id="groupbox" contenteditable="true" style="margin: 0px auto;"><strong style="color: rgba(30, 37, 35, 0.45);">Enter Group Name</strong></p>
	</div>
	<div>
	<i id="groupsend" class="material-icons center-align menu_links" style="width:40px;height: 40px;margin-left: 10px;margin-top:8px;margin-bottom:0px;margin-right: 7px;" >send</i>
	</div>
</div>
</div>
