{% load staticfiles %}
<style type="text/css">
	.speechleft {
  position: relative;
  width: 60%;
  text-align: left;
  line-height: 20px;
  background-color: rgba(195, 55, 55, 0.23);
  border: 1px solid rgba(197, 119, 119, 0.37);
  border-radius: 10px;
  margin-left: 30px;
  margin-top:15px;
  margin-bottom: 5px;
  padding:4px 20px;
  box-shadow: 2px 2px 4px #888;
  }
  .speechleftag {
  position: relative;
  width: 60%;
  text-align: left;
  line-height: 20px;
  background-color: rgba(195, 55, 55, 0.23);
  border: 1px solid rgba(197, 119, 119, 0.37);
  border-radius: 10px;
  margin-left: 30px;
  margin-top:5px;
  margin-bottom: 5px;
  padding:4px 20px;
  box-shadow: 2px 2px 4px #888;
  }
  .speechright {
  position: relative;
  width: 60%;
  text-align: left;
  line-height: 20px;
  background-color: rgba(152, 143, 222, 0.24);
  border: 1px solid rgba(29, 55, 134, 0.29);
  border-radius: 10px;
  margin-left: 35%;
  margin-top:15px;
  margin-bottom: 5px;
  padding:4px 20px;
  box-shadow: 2px 2px 4px #888;
  }
  .speechrightag {
  position: relative;
  width: 60%;
  text-align: left;
  line-height: 20px;
  background-color: rgba(152, 143, 222, 0.24);
  border: 1px solid rgba(29, 55, 134, 0.29);
  border-radius: 10px;
  margin-left: 35%;
  margin-top:5px;
  margin-bottom: 5px;
  padding:4px 20px;
  box-shadow: 2px 2px 4px #888;
  }
}
}
</style>
<div id="default" class="card col s6 " style="margin: 20px;margin-left: 10px;">
<div style="margin-top: 200px;padding: 50px;margin-bottom: 250px;"><h5><b>Lets start a conversation.Click on any of the chats.</b></h5></div>
</div>
