{% load staticfiles %}
<head>
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}">

  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="{% static 'jquery-2.1.1.min.js' %}"></script>
  <script src="{% static 'materialize/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tray.js' %}"></script>
<style type="text/css">
	.menu_links:hover{ cursor:pointer}
</style>
</head>        
